
<nav class="mdl-navigation">
    <a class="mdl-navigation__link" href="index.html">
        <i class="material-icons" role="presentation">dashboard</i>
        Dashboard
    </a>
 
    <a class="mdl-navigation__link" href="ui-components.html">
        <i class="material-icons">developer_board</i>
        Components
    </a>
  
</nav>
