
<nav class="mdl-navigation">
    <a class="mdl-navigation__link" href="/Staff/Index/">
        <i class="material-icons" role="presentation">Personeller</i>
        Personeller
    </a>
 
    <a class="mdl-navigation__link" href="/Testimonial/Index/">
        <i class="material-icons">Referanslar</i>
        Referanslar
    </a>

    <a class="mdl-navigation__link" href="/Service/Index/">
        <i class="material-icons">Hizmetler</i>
        Hizmetler
    </a>
  
</nav>
