
<nav class="mdl-navigation">
    <a class="mdl-navigation__link" href="/Admin/StaffAdmin/Index/">
        <i class="material-icons" role="presentation">Personeller</i>
        Personeller
    </a>
 
    <a class="mdl-navigation__link" href="/Admin/TestimonialAdmin/Index/">
        <i class="material-icons">Referanslar</i>
        Referanslar
    </a>

    <a class="mdl-navigation__link" href="/Admin/ServiceAdmin/Index/">
        <i class="material-icons">Hizmetler</i>
        Hizmetler
    </a>

    <a class="mdl-navigation__link" href="/Admin/BookingAdmin/Index/">
        <i class="material-icons">Rezervasyonlar</i>
        Rezervasyonlar
    </a>

    <a class="mdl-navigation__link" href="/Admin/AboutAdmin/Index/">
        <i class="material-icons">Hakkımızda</i>
        Hakkımızda
    </a>

    <a class="mdl-navigation__link" href="/Admin/RoomAdmin/Index/">
        <i class="material-icons">Odalar</i>
        Odalar
    </a>

</nav>
