@model HotelProject.WebUI.Models.Role.UpdateRoleViewModel
@{
    ViewData["Title"] = "UpdateRole";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}


<div class="card">
    <div class="card-body">
        <h4 class="card-title">Yeni Rol Ekle</h4>
        <form method="post" novalidate>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label>Rol Adı</label>
                <input type="text" asp-for="RoleName" class="form-control" />
            </div>
            <br />
            <button type="submit" class="btn btn-success">Rolü Güncelle</button>
        </form>
    </div>
</div>


