@model List<StaffViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

<div class="mdl-cell mdl-cell--12-col-desktop mdl-cell--12-col-tablet mdl-cell--4-col-phone">
    <div class="mdl-card mdl-shadow--2dp">
        <div class="mdl-card__title">
            <h1 class="mdl-card__title-text">Personel Tablosu</h1>
        </div>
        <div class="mdl-card__supporting-text no-padding">
            <table class="mdl-data-table mdl-js-data-table" data-upgraded=",MaterialDataTable">
                <thead>
                    <tr>
                        <th class="mdl-data-table__cell--non-numeric">#</th>
                        <th class="mdl-data-table__cell--non-numeric">Personel Adı</th>
                        <th class="mdl-data-table__cell--non-numeric">Personel Ünvanı</th>
                        <th class="mdl-data-table__cell--non-numeric">Sil</th>
                        <th class="mdl-data-table__cell--non-numeric">Güncelle</th>
                        <th class="mdl-data-table__cell--non-numeric">Detaylar</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <th class="mdl-data-table__cell--non-numeric">@item.StaffID</th>
                        <td class="mdl-data-table__cell--non-numeric">@item.Name</td>
                        <td class="mdl-data-table__cell--non-numeric">@item.Title</td>
                            <td class="mdl-data-table__cell--non-numeric"><a href="/Staff/DeleteStaff/@item.StaffID" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect button--colored-red">Sil</a></td>
                            <td class="mdl-data-table__cell--non-numeric"><a href="" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect button--colored-green">Güncelle</a></td>
                            <td class="mdl-data-table__cell--non-numeric"><a href="" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect button--colored-purple">Detaylar</a></td>
                    </tr>
                    }
                </tbody>
            </table>
            <a href="/Staff/AddStaff/" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect button--colored-purple">Yeni Personel Girişi</a>
        </div>
    </div>
</div>

